.Page{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
.main{
    background: lemonchiffon;
    min-height:100%;
    min-width: 100%;
  }
.Header{
    background-color: blue;
    min-height: 100px;
    margin: 0px;
}
#logo-head{
    max-height: 85px;
    max-width: 85px;
    display: flex;
    align-self: center;
    float: left;
    margin-top: 20px;

}
.footer{
    min-height: 50px;
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}