.Page{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
.main{
    background: lemonchiffon;
    min-height:100%;
    min-width: 100%;
  }


.Header{
    display: flex;
    background-color: white;
    min-height: 75px;
    width: 100%;
    margin: 0px;
}



.menu-head{
    display: flex;
    align-self: right;
    flex-direction: row;
    position: relative;
    margin: auto;
}

.menu-item{
    display: flex;
    align-self: center;
    margin: 20px;
    color: #0E579C;
    font-size: sma;
    font-weight: bold;
}

#logo-head{
    max-height: 85px;
    max-width: 85px;
    display: flex;
    align-self: center;
    float: left;

}
#logo{
    max-height: 85px;
    max-width: 85px;
    min-height: 85px;
    min-width: 85px;
    display: flex;
    align-self: left;
    float: left;
    margin: 10px;
    

}
.footer{
    min-height: 50px;
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}